mixin link(href)
  link(rel='stylesheet', href=href)

mixin script(src)
  script(type='text/javascript', src=src)

// override any blocks to customise to your requirement

doctype
html
  head
    block title
      title typey-pad base

    block styles
      style
        include:stylus base.styl

    +script('/socket.io/socket.io.js')

  body
    block layout
      .key#a a
      .key#b b
      .key#c c
      .key#Shift Shift
      .key#BackSpace Back- space

    block app
      +script('/lib-3p/jquery.js')
      +script('/app.js')
