//mixin link(href)
  link(rel='stylesheet', type='text/css', href=href)

mixin script(src)
  script(type='text/javascript', src=src)

doctype
html
  head
    block title
      title typey-pad

    // base (minimal) style
    style
      include:stylus base.styl

    // optional user style can override base style
    style
      block stylus

  body
    // user layout mandatory
    block layout

    // libs
    +script('/lib-3p/jquery.js')
    +script('/socket.io/socket.io.js')

    // app
    +script('/app.js')
