.key
  background  cyan
  display     flex
  float       left
  height      100px
  margin      5px
  width       100px

.key.down
  background  yellow

.label
  font-size   24px
  margin      auto
  text-align  center

.label.len-1
.label.len-2
  font-size   48px
