// mixins

mixin link(href)
  link(rel='stylesheet', href=href)

mixin script(src)
  script(type='text/javascript', src=src)

mixin key(id, label)
  - var label = label || id
  - var labcls = 'len-' + label.length
  .key(id=id)
    .label(class=labcls)= label

// base template -- override any blocks to customise to your requirement

doctype
html
  head
    block title
      title typey-pad base

    block styles-core
      +link('/base.css')

    block styles

  body
    block layout
      h1 Example keypad
      +key('a')
      +key('b')
      +key('c')
      +key('Shift_L', 'Shift')
      +key('BackSpace', 'Back- space')

    block app-core
      +script('/socket.io/socket.io.js')
      +script('/lib-3p/jquery.js')
      +script('/keypad/app.js')

    block app
