@require nib

key-col(up, down = up)
  .key
    background  up
  .key.down
    background  down

key-size(n, border-percent = 5)
  .key
    border      solid n * border-percent * 0.01
    box-sizing  border-box // ensure n is total size including border
    height      n
    width       n
    label-size  n

label-col(up, down = up)
  .key
    .label
      color     up
  .key.down
    .label
      color     down

label-size(keysize)
  .label
    font-size   (keysize / 4)

  for l in 1 2 3
    .label.len-{l}
      font-size   (keysize / 2)
