// base template
include ../mixin/base

doctype html
html
  head
    block head
      +css('/template/base.css')
      +script('/socket.io/socket.io.js')
      +script('/lib-3p/jquery.js')
      +script('/lib-3p/lodash.js')
      +script('/lib-3p/wavencoder.js')
      +script('/lib/audio.js')
  body
    block layout
    block script
      +script('/template/base.js')
