@require 'mixin/keys'

.key
  display     flex  // for label centering
  float       left

.label
  margin      auto
  text-align  center

// minimal style to render
key-size(20mm)
key-color(up:black, label-up:white)
