// keys template
extend /template/base
include /mixin/keys
append head
  +link('/lib-3p/Font-Awesome-4.3.0/css/font-awesome.min.css')
  +link('/template/keys.css')
append script
  +script('/_keys.js')
