extend /base

block title
  title rkeypad examples

block styles
  +link('examples.css')

block layout
  h1 rkeypad examples
  .section
    h2 Basic keys
    p Press and hold for standard auto repeat
    p Try pressing Shift with a key (requires a multi-touchpoint tablet)
    +keys('a', 'b', 'c', 1, 2, 3)
    +key('BackSpace', 'Back- space')
    +key('Shift_L', 'Shift')
  .section
    h2 Macros
    p Try press and hold
    +key('HelloWorld', 'Hello World')
    +key('abc-slow', 'abc (slow)')
    +key('abc-repeat', 'abc (repeat)')
    +key('abc-repeat-slow', 'abc (repeat slow)')
    +key('edit-copy', 'copy')
    +key('edit-paste', 'paste')
  .section
    h2 Shell exec
    p Check rkeypad node console for standard output messages
    +key('exec-echo', 'exec echo')
    +key('exec-xterm', 'exec xterm')
