@require 'mixin/keypad'

body
  background  cyan

key-size(25mm)
key-color(blue, yellow)
label-color(white, blue)

#Shift_L
  clear   both
  width   60mm

p
  clear     both
  font-size 15pt

.section
  clear     both
  padding   1em

#edit-cut
  background  red

#edit-copy
  background  green
