extend /base

block title
  title Macro examples

block styles
  +link('macro.css')

block layout
  h1 Macro examples
  +key('HelloWorld', 'Hello World')
  +key('abc-slow', 'abc (slow)')
  +key('abc-repeat', 'abc (repeat)')
  +key('abc-repeat-slow', 'abc (repeat slow)')
  +key('edit-copy', 'copy')
  +key('edit-paste', 'paste')
  +key('exec-echo', 'exec echo')
  +key('exec-xterm', 'exec xterm')
