mixin link(href)
  link(rel='stylesheet', href=href)

mixin prevent-zoom
  // use in meta block
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

mixin script(src)
  script(type='text/javascript', src=src)

// context sensitivity
// usage: +show-if(activeWindowTitle='regular-expression-string')
mixin show-if
   div(data-active-window-title=attributes.activeWindowTitle)
    block
