// mixin to generate a single key
//
// k  : id or 'id vis'
// id : a full keysym-id like 'XK_a' or just a suffix like 'a'
// vis: a label or a font-awesome identifier like 'fa-coffee'
//
// See the full list of keysyms at https://github.com/sidorares/node-x11/blob/master/lib/keysyms.js
mixin key(k, vis)
  - var arr = k.toString().split(' ')
  - var id = arr[0]
  - vis = vis || arr[1]
  .key(id=id)
    if (vis && vis.substring(0,3) == 'fa-')
      // vis is a font-awesome identifier
      .label
        i.fa.fa-2x(class=vis)
    else
      // vis is a label
      - var lbl = vis || id
      - var lblcls = 'len-' + lbl.toString().length
      .label(class=lblcls)= lbl

// mixin to generate a sequence of keys
mixin keys(...ks)
  each k in ks
    +key(k)
