// mixin to generate a single key
//
// args: (mandatory) one of the following:
//    - id
//    - 'id label' (space-delimited string)
//
// id: (mandatory) one of the following:
//    - a full keysym-id eg 'XK_a'
//    - a keysym suffi eg 'a'
//    - a command id eg 'B1' for mouse button 1
//
//    full list of keysyms at https://github.com/sidorares/node-x11/blob/master/lib/keysyms.js
//    id is treated as the label if label isn't supplied
//
// label: (optional) one of the following:
//    - text string e.g. 'my label'
//    - font-awesome classes 'fa-coffee' or 'fa-bed fa-flip-horizontal'
//
mixin key(args, label)
  - var arr = args.toString().split(' ')
  - var id = arr[0]
  - label = label || arr[1]
  .key.up(id=id, class=attributes.class)
    if (label && label.substring(0,3) == 'fa-')
      // label is a font-awesome identifier
      .label
        i.fa.fa-2x(class=label)
    else
      // treat label as text
      - var lbl = label || id
      - var lblcls = 'len-' + lbl.toString().length
      .label(class=lblcls)= lbl

// mixin to generate a sequence of keys
mixin keys(...args)
  each arg in args
    +key(arg)
