// mixin to generate a single key
//
// args: id or space-delimited args 'id label'
//
// id: a full keysym-id like 'XK_a' or just a suffix like 'a'
// label: text or a font-awesome identifier like 'fa-coffee' (optional)
//
// Full list of keysyms at https://github.com/sidorares/node-x11/blob/master/lib/keysyms.js
mixin key(args, label)
  - var arr = args.toString().split(' ')
  - var id = arr[0]
  - label = label || arr[1]
  .key(id=id, class=attributes.class)
    if (label && label.substring(0,3) == 'fa-')
      // label is a font-awesome identifier
      .label
        i.fa.fa-2x(class=label)
    else
      // treat label as text
      - var lbl = label || id
      - var lblcls = 'len-' + lbl.toString().length
      .label(class=lblcls)= lbl

// mixin to generate a sequence of keys
mixin keys(...args)
  each arg in args
    +key(arg)
