@require nib

// css classes to auto-wrap a set of keys into n columns
for n in (1..9)
  .key-cols-{n}
    .key:nth-child({n}n+1)
      clear     both

// mixin to set key colors
key-color(up, down = up)
  .key
    background    up
  .key.down
    background    down

// mixin to set key size
// n: the key size
// gap-percent: what % of the size to use for the inter-key spacing
//   > 0 for external margin -- hard to align
//   < 0 for internal border -- easy to align but needs explicit styling
key-size(n, gap-percent = +5%)
  .key
    height      n
    width       n
    font-size   n

    if gap-percent >= 0
      margin      n * gap-percent * 0.01
    else // internal border allows exact alignments
      margin      0
      box-sizing  border-box
      border      solid n * abs(gap-percent) * 0.01

    .label
      font-size   25%
    for l in 1 2 3 // enlarge short labels
      .label.len-{l}
        font-size   40%

// mixin to set key label colors
label-color(up, down = up)
  .label
    color     up
  .key.down
    .label
      color     down
