@require nib

// css classes to auto-wrap a set of keys into n columns
for n in (1..9)
  .key-cols-{n}
    .key:nth-child({n}n+1)
      clear     both

// mixin to set key colors
key-color(up, down = up)
  .key
    background-color  up
  .key.down
    background-color  down

// mixin to set key size
// n: the key size, including internal border
// gap-percent: % of n to use for the internal border
key-size(n, gap-percent = 5%)
  .key
    height      n
    width       n
    font-size   n

    // internal border allows easier alignments
    background-clip padding-box
    border          solid transparent n * gap-percent * 0.01
    box-sizing      border-box

    .label
      font-size   25%
    for l in 1 2 3 // enlarge short labels
      .label.len-{l}
        font-size   40%

// mixin to set key label colors
label-color(up, down = up)
  .label
    color     up
  .key.down
    .label
      color     down
