// example.styl -- compiled and served as example.css at runtime

// use the built-in keys mixins...
@require 'mixin/keys'

// ...to set the default size and color of each key
key-size(22mm)
key-color(up:blue, label-up:white)

body
  background-color  #ddd
  font-size         9pt

h2
  clear             both
  padding-top       1em
