// example.styl -- compiled and served as example.css at runtime

// use the built-in keys mixins...
@require 'mixin/keys'

// ...to set the default size and color of each key
key-size(22mm)

for colors, i in (blue white) (orange black) (green white) (yellow black) (purple white) (#c00 white) (cyan black)
  section:nth-child(7n+{i+2})
    key-color(up:colors[0], label-up:colors[1])

body
  background-color  #ddd
  font-size         9pt

section
  overflow          hidden  // wrap floated divs
  margin-bottom     1em
