// example.styl -- compiled and served as example.css at runtime

// use the built-in keys mixins...
@require 'mixin/keys'

// ...to set the fundamental look of each key
key-size(25mm)
key-color(blue, yellow)
label-color(white, blue)

body
  background  cyan

#Shift_L
  clear   both
  width   60mm

p
  clear     both
  font-size 15pt

.section
  clear     both
  padding   1em

#edit-cut
  background  red

#edit-copy
  background  green
