// example.jade -- compiled and served as html at runtime

// use the built-in keys template
extend /template/keys

// append to the head block as we want to keep what's already there
append head
  title rkeys examples
  // example.css is generated on-the-fly from example.styl
  +css('example.css')

block layout
  h1 rkeys examples

  h2 Single keys
  p Press and hold for native auto-repeat
  p Try pressing Shift with a key (requires a multi-touchpoint tablet)
  // See the full list of keysyms at https://github.com/sidorares/node-x11/blob/master/lib/keysyms.js
  // single keysym suffix i.e. XK_a minus the XK_
  +key('a')
  // sequence of keysym suffixes
  +keys('b c 1 2 3')
  // keysym suffixes with labels
  +key('Shift_L', 'Shift').w-2
  +key('BackSpace', 'Back- space')

  h2 Key chords
  p Press and hold for native auto-repeat
  // the key-id (e.g. 'shift+a') is a command-id in example.yaml
  +key('shift+a', 'Shift + a')
  +key('shift+8', 'Shift + 8')

  h2 Key sequences with delay and non-native auto-repeat
  p Press and hold for non-native auto-repeat
  // the key-id is a command-id in example.yaml
  +key('HelloWorld', 'Hello World')
  +key('abc', 'abc')
  +key('abc-slow', 'abc (slow)')
  +key('abc-repeat', 'abc (repeat)')
  +key('abc-repeat-slow', 'abc (repeat slow)')

  h2 Mouse buttons
  // B* commands are defined in ../io/command.yaml
  +keys('B1 left', 'B2 middle', 'B3 right')
  +key('B4', 'wheel up')
  +key('B5', 'wheel down')
  +keys('B6 B7 B8')

  h2 Layouts
  // layout-* commands are defined in ../io/command.yaml
  +keys('layout-1', 'layout-2')
  .layout.default
    +keys('a b c')
  .layout.1
    +keys('1 2 3')
  .layout.2
    +keys('[ ] .')

  h2 Shell exec
  p Check rkeys node console for standard output messages
  +key('exec-echo', 'exec echo')
  +key('exec-xterm', 'exec xterm')

  h2: a(href='http://fortawesome.github.io/Font-Awesome/icons') Font Awesome icons
  // we pass fa-* into the label field
  +keys('edit-copy fa-copy', 'edit-cut fa-cut', 'edit-paste fa-paste')

  h2 Context sensitivity
  +show-if(activeWindowTitle='xterm|@')
    +key('a')
  p.
    The 'a' key will show only if the active window title
    contains 'xterm' or '@'.
