// example.styl -- compiled and served as example.css at runtime

// use the built-in keys mixins...
@require 'mixin/keys'

// ...to set the default size and color of each key
key-size(25mm)
key-color(up:blue, label-up:white)

body
  background-color  cyan

.section
  clear     both
  font-size 15pt
  padding   1em

#edit-cut
  background-color  red

#edit-copy
  background-color  green
