// example.jade -- compiled and served as html at runtime

// use the built-in keys template
extend /template/keys

// append to the head block as we want to keep what's already there
append head
  title rkeys examples
  // example.css is generated on-the-fly from example.styl
  +css('example.css')

block layout
  h1 rkeys examples
  // see ../ui/mixin/keys.jade for +key() and +keys() documentation

  h2 Single keys
  :markdown
    Press and hold for native auto-repeat.
    Try pressing Shift with a key (requires a multi-touchpoint tablet).
    Also try to 'latch' the Shift by releasing your finger away from the key
    (this is similar to caps-lock on a traditional keyboard). To unlatch,
    simply tap the key again.
  // See the full list of keysyms at https://github.com/sidorares/node-x11/blob/master/lib/keysyms.js
  // single keysym suffix i.e. XK_a minus the XK_
  +key('a')
  // sequence of keysym suffixes
  +keys('b c 1 2 3')
  // keysym suffixes with labels
  +key('Shift_L', 'Shift').latching.w-2
  +key('BackSpace', 'Back- space')

  h2 Key chords
  p Press and hold for native auto-repeat
  // key chords are denoted by infix +
  // modifier aliases are defined in ../io/command.yaml
  +key('S+a', 'shift a')
  // for extra clarity we can specify the chord in the command yaml...
  +key('type-an-asterisk', 'shift 8')

  h2 Key sequences with delay and non-native auto-repeat
  p Press and hold for non-native auto-repeat
  +key('HelloWorld', 'Hello World')
  +key('abc', 'abc')
  +key('abc-slow', 'abc (slow)')
  +key('abc-repeat', 'abc (repeat)')
  +key('abc-repeat-slow', 'abc (repeat slow)')

  h2 Mouse buttons
  // button command is defined in ../io/command.yaml
  +keys('button:1 left', 'button:2 middle', 'button:3 right')
  +key('button:4', 'wheel up')
  +key('button:5', 'wheel down')
  +key('button:6', 'button 6')
  +key('button:7', 'button 7')
  +key('button:8', 'button 8')

  h2 Layout switching
  // layout command is defined in ../io/command.yaml
  +keys('layout:numbers', 'layout:symbols').w-3.latching
  .layout.default
    +keys('a b c')
  .layout.numbers
    +keys('1 2 3')
  .layout.symbols
    +keys('[ ] .')

  h2 Shell exec
  p Check rkeys node console for standard output messages
  +key('echo:foo,bar,baz', 'exec echo')
  +key('xterm', 'exec xterm')

  h2: a(href='http://fortawesome.github.io/Font-Awesome/icons') Font Awesome icons
  // pass fa-* into the label field
  +keys('C+c fa-copy', 'C+x fa-cut', 'C+v fa-paste')

  h2 Context sensitivity
  +show-if(activeWindowTitle='xterm|@')
    +key('a')
  p.
    The 'a' key will show only if the active window title
    contains 'xterm' or '@'.
