body
  color             white
  background-color  blue

.key
  border      5px solid
  float       left
  font-size   24pt
  height      100px
  margin      5px
  text-align  center
  width       100px

.down
  background-color  yellow
