doctype html
html
  meta(charset='utf-8')
  head
    title typey-pad
    script(type='text/javascript', src='app.js')
    link(rel='stylesheet', type='text/css', href='app.css')
  body
    h1 typey-pad yeah!
